.thea_main
{
     background: rgba(242, 242, 242, 1);
     width: 100%;
     height: 1000px;
}
.thea_movie
{
 display: flex;
 width: 100%;
 height: 200px;
 background:rgba(243, 225, 218, 1);
}
.thea_details
{
    display: flex;
    margin: 170px -356px;
    font-size: 20px;
}
.thea_date
{ 
    display: flex;
    background: rgba(255, 100, 13, 1);
    width: 250px;
    height: 50px;
    border-radius: 15px;
    margin-top: 100px;
    margin-left: 600px;
}
.thea_seat
{  
     display: flex;
    background: rgba(243, 225, 218, 1);
    height: 500px;
    width: 1500px;
    border-radius: 20px;
    margin-left: 13px;
    margin-top: 30px;
}